{% extends 'base.html.twig' %}
{% block title %}Pages index{% endblock %}
{% block posts %}{{ render(controller('App\\Controller\\Front\\CreaturesController::index')) }}{% endblock %}
{% block body %}
    <h1>Pages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Slug</th>
                <th>Texte</th>
                <th>Tri</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.titre }}</td>
                <td>{{ page.slug }}</td>
                <td>{{ page.texte }}</td>
                <td>{{ page.tri }}</td>
                <td>
                    <a href="{{ path('pages_show', {'id': page.id}) }}">show</a>
                    <a href="{{ path('pages_edit', {'id': page.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pages_new') }}">Create new</a>
{% endblock %}
