{% extends 'admin/base.html.twig' %}
{% block title %} {{ creature.slug |upper }} {% endblock %}
{% block body %}
    <!-- creature Heading -->
    <!-- Title -->
    <h1 class="mt-4">{{ creature.nom }}</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <a href="{{ path('app_creatures_show',{id:creature.id,slug:creature.slug}) }}">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{{ asset('build/assets/images/'~creature.image) }}" alt="{{ creature.slug }}">
            </a>
        </div>
        <div class="col-md-8">
            <h3>{{ creature.nom }}</h3>
            <p class="lead">dans   <a class="btn" href="{{ path('app_films_show',{id:creature.film.id,slug:creature.film.slug}) }}">{{ creature.film.titre }}</a>{{ creature.dateCreation|date("m/d/Y", "Europe/Paris") }}</p>
            <p>{{ creature.texteSuite}}</p>
            <hr/>
            <p>{{ creature.texteLead}}</p>
            <a class="btn btn-primary" href="{{ path('app_admin_creatures_edit',{id:creature.id,slug:creature.slug}) }}">Modifier</a>
            {{ include('admin/creatures/_delete_form.html.twig') }}
            <hr/>
            <ul class="list-inline tags">
                {% for tag in creature.tags %}
                    <li><a href="{{ path('app_tags_show',{id:tag.id,slug:tag.slug}) }}" class="btn btn-default btn-xs">{{ tag.nom }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div><!-- /.row -->
    <hr/>
{% endblock %}