{% extends 'base.html.twig' %}

{% block title %}Creatures index{% endblock %}

{% block body %}
    <h1>Creatures index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Textelead</th>
                <th>Textesuite</th>
                <th>Datecreation</th>
                <th>Image</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for creature in creatures %}
            <tr>
                <td>{{ creature.id }}</td>
                <td>{{ creature.nom }}</td>
                <td>{{ creature.textelead }}</td>
                <td>{{ creature.textesuite }}</td>
                <td>{{ creature.datecreation ? creature.datecreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ creature.image }}</td>
                <td>{{ creature.slug }}</td>
                <td>
                    <a href="{{ path('creatures_show', {'id': creature.id}) }}">show</a>
                    <a href="{{ path('creatures_edit', {'id': creature.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('creatures_new') }}">Create new</a>
{% endblock %}
