{% extends 'base.html.twig' %}
{% block title %} {{ page.titre }} {% endblock %}
{% block body %}
    <!-- Page Heading -->
    <!-- Title -->
    <h1 class="mt-4">{{ page.titre }}</h1>
    <hr>
    <!-- Post Content -->
    <p class="lead">{{ page.texte }}</p>
    {% if page.slug=='accueil'or page.slug=='creatures' %}
        {% if creatures is defined  %}
            {{ include('front/creatures/list.html.twig',{creatures:creatures}) }}
        {% else %}
            {{ render(controller('App\\Controller\\Front\\CreaturesController::index')) }}
        {% endif %}
    {% elseif page.slug=='films' %}
        {% if films is defined  %}
            {{ include('front/films/list.html.twig',{films:films}) }}
        {% else %}
            {{ render(controller('App\\Controller\\Front\\FilmsController::index')) }}
        {% endif %}

    {% endif %}

{% endblock %}